<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <appSettings>
    <!--<add key="Selenium2Browser" value="chrome"/>-->
    <add key="Selenium2Browser" value="firefox"/>
    <!--<add key="Selenium2Browser" value="iexplore"/>-->
    <add key="RootUrl" value="http://adam.goucher.ca/parkcalc/"/>
  </appSettings>
</configuration>